@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #55185d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: black;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: white;
  margin-top: 5rem;
  padding: 2rem;
}

.searchInput {
  outline: none;
  background: none;
  border: 1px solid #0d98ba;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  width: 345px;
  color: black;
}

.searchInput::placeholder {
  color: grey;
}

.button {
  background-color: #df2525;
  border: none;
  color: white;
  padding: 10px 22px;
  margin: 0 0.3rem 0 0.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  cursor: pointer;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #0d98ba;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: black;
}

.todo-input::placeholder {
  color: grey;
}

.todo-btn {
  background: #0d98ba;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  cursor: pointer;
  border: 1px solid grey;
}

.fa-trash {
  margin-left: 0.75rem;
  color: #df2525;
}

.fa-pen-to-square {
  color: #ffd524;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
